/*styles.css*/
/* General button styling */
Button {
    -fx-font-family: "Verdana";
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-color: #03314d;
    -fx-cursor: hand;
}

/* Hover effect for all buttons */
Button:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0);
    -fx-background-color: #03101b;
}